---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200);


/* FONTS USED */
@font-face {
  font-family: 'Nickainley';
  src: url('../fonts/nickainley.eot');
  src: url('../fonts/nickainley.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nickainley.woff2') format('woff2'),
       url('../fonts/nickainley.woff') format('woff'),
       url('../fonts/nickainley.ttf') format('truetype'),
       url('../fonts/nickainley.svg#fabfeltscriptbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: url('../fonts/ClearSans-Regular-webfont.eot');
  src: url('../fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-Regular-webfont.woff') format('woff'),
       url('../fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: url('../fonts/ClearSans-Light-webfont.eot');
  src: url('../fonts/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-Light-webfont.woff') format('woff'),
       url('../fonts/ClearSans-Light-webfont.ttf') format('truetype'),
       url('../fonts/ClearSans-Light-webfont.svg#clear_sans_lightregular') format('svg');
  font-weight: 300;
  font-style: normal;
}

$bg-color:#fff;
$primary-color: #964F4C;
$primary-light:#C26A5A;
$secondary-color: #8981A0;
$secondary-light: #C3BABF;
$secondary-dark: #655f78;
$secondary-active: #805c9b;
$highlight: #f7de86;

%displayFont { font-family: 'Nickainley', 'Palatino Linotype', 'Book Antiqua', Palatino, serif; }
%textFont { font-family: 'Clear Sans', sans-serif; }

body {
  @extend %textFont;
  font-size: 18px;
  line-height: 1.4em;
  padding-top: 55px;
  -webkit-font-smoothing: antialiased;
}
p {
  margin-bottom: 30px;
}
section, header, footer, main, article, nav, aside { position: relative; }
a {
  outline: none !important;
  text-decoration: none !important;
  transition: all 225ms ease;
  color: $secondary-color;

  &:hover { color: #6165FF; }
}
.btn {
  text-transform: uppercase;
  font-weight: 400;
  @extend %displayFont;
}
h1, h2, h3, h4, h5, h6 { 
  @extend %displayFont;
  line-height:1.15em;
  padding-bottom:.04em;
}
::selection {
  background: #086AFF;
  color: #fff;
}
.navbar {
  margin: 0;

  a {
      text-transform: uppercase;
      font-size: 16px;
  }

  .navbar-brand {
      text-transform: none;

      i {
          transition: inherit;
          color: $primary-color;
          transform: scale(1);
      }

      &:hover i {color: $primary-light;}
      &:hover{transform: scale(1.1);}
  }
}
.title-group {
  text-align: center;
  padding: 0 15px;
  margin: 50px 0 100px;

  p {
      max-width: 800px;
      margin: 25px auto 0;
  }
}
h1.special {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 0;
  @extend %displayFont;
  font-size: 69px;
  color: $primary-color;

  span {
      display: inline-block;
      position: relative;
      padding: 0 15px;
      max-width: 1000px;
      z-index: 10;

      /*&:before, &:after {
          content: '';
          position: absolute;
          display: block;
          height: 1px;
          background: $highlight;
          width: 99999999px;
          top: 50%;
          transform: translateY(-50%);
      }

      &:before { left: 100%; }
      &:after { right: 100%; }*/
  }
}

.tile {
  position: relative;
  box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
  margin-bottom: 125px;

  .inner-guts { padding: 50px; }

  h2 {
      margin: 0;
      font-size: 100px;
      font-weight: 400;
      letter-spacing: -0.05em;
      line-height: 100px;
  }

  .featurette {
      position: relative;
      display: block;
      overflow: hidden;
      margin-bottom: 15px;
      width: 100%;
      height: 550px;
      background-color: #e8e8e8;

      .img {
          background-size: cover;
          background-position: 50% 0;
          background-repeat: no-repeat;
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all 225ms ease;
          transform: scale(1);

          &:before {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: block;
              content: '';
              background: #000;
              opacity: 0.4;
              transition: all 225ms ease;
          }
      }

      iframe {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }

      &:hover {
          .img {
              transform: scale(1.2);

              &:before {
                  opacity: 0.2;
              }
          }
      }
  }

  .excerpt {
      font-size: 35px;
      font-weight: 300;
      line-height: 49px;
      color: #484848;

      p {
          margin: 0;
      }
  }

  .tags {
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: 15px;

      span {
          padding: 1px 5px;
          font-size: 12px;
          line-height: 1.5em;
          text-transform: uppercase;
          @extend %displayFont;
      }
  }

  .read-more {
      margin-top: 50px;
      width: 100%;
      max-width: 175px;
      position: relative;
      padding-right: 75px;

      i {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-54%);
          font-size: 31px;
          line-height: 100%;
      }
  }
}

aside {
  font-size: 17px;
  color: #525252;
  margin: 16px 0;
  @extend %displayFont;

  span {
      text-transform: uppercase;
      margin: 0 5px;
  }
}

.site-footer {
  margin-top: 200px;
}

.pagination-wrap {
  text-align: center;
}

.topper {
  height: 500px;
  position: relative;

  .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
  }

  iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
  }
}

pre {
  margin: 75px -100px;
}


@media only screen and (max-width : 991px) {
  pre {
      margin-left: 0;
      margin-right: 0;
  }
}

@media only screen and (max-width : 480px) {
  .tile .featurette, .topper {
      height: 300px;
  }

  h1.special,
  .tile h2 {
      font-size: 40px;
      line-height: 44px;
  }

  .tile .inner-guts {
      padding: 15px 25px;
  }

  .tile .excerpt {
      font-size: 22px;
      line-height: 35px;
  }
}



/* NKG */
/*uncollapse mobile nav*/
.navbar-collapse.collapse{display: block !important;}
.navbar-nav>li, .navbar-nav{float: left !important;}
.navbar-nav.navbar-right:last-child{margin-right: -15px !important;}
.navbar-right{float: right !important;}

/* SCALLOP
$scallop-size:40px;
$scallop-color1: rgba(255,255,255,0);
$scallop-color2: rgba(255,255,255,.3);
nav.navbar {
  &:before, &:after {
    content: '';
    height: $scallop-size;
    display: block;
    width: 100%;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iNjUlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -moz-radial-gradient($scallop-color1, $scallop-color2 65%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0));
    background-image: -webkit-radial-gradient($scallop-color1, $scallop-color2 65%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0));
    background-image: radial-gradient($scallop-color1, $scallop-color2 65%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0));
    background-size: $scallop-size $scallop-size;
    background-size: $scallop-size $scallop-size;
    background-repeat: repeat-x;
    background-position: 0 0;
    position: absolute;
    z-index:-2;
  }
  &:before {
    left: 0;
    top: -12px;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  &:after {
    bottom: -12px;
    left: 0;
  }
  .container-fluid {
    &:before {
      left: -12px;
      top: 0;
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    &:after {
      right: -12px;
      top: 0;
    }
    &:before, &:after {
      position: absolute;
      content: '';
      height: 100%;
      display: block;
      width: $scallop-size;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iNjUlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -moz-radial-gradient($scallop-color1, $scallop-color2 65%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0));
      background-image: -webkit-radial-gradient($scallop-color1, $scallop-color2 65%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0));
      background-image: radial-gradient($scallop-color1, $scallop-color2 65%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0));
      background-size: $scallop-size $scallop-size;
      background-repeat: repeat-y;
      z-index:-2;
    }
  }
}*/

/* SHARED BG IMAGE */
%lace-bg{ background:url(../img/lace-bg.png) repeat center / 100% auto;}
%theme-bg{
  background-color:$primary-color;
  &:before{
    @extend %lace-bg;
    content: " ";
    display:block;
    position:absolute;top:0;left:0;
    width: 100%; 
    height: 100%;  
    opacity: .15; 
    z-index:0;
  }
}
.home-info a{
  border:1px solid $secondary-light;
  color:#000;
  line-height:2.2em;
  padding:4px 10px;
  opacity:.4;
  &:hover{opacity:.6;}
}
p, ul{font-weight:200}
ul{
  list-style:none;
  padding-left:0;
}
.navbar{
  background-color:rgba(255,255,255,.4);
  border-bottom:8px solid rgba(255,255,255,.2);
  padding:12px 0;
  @extend %lace-bg;

  a{
    color:$secondary-dark;
    @include border-right-radius(2px);
    @include border-left-radius(2px);
  }
  i{
    margin-right:5px;
    @extend %lace-bg;
  }
}
a.navbar-brand{
  @extend %displayFont;
  font-size:1.2em;
}
.title-group{ 
  padding:50px 0;
  margin:0 auto;
}
.byline{
  list-style:none;
  display:inline-block;
  font-size:14px;
  font-weight:100;
  padding:2rem;
  margin:0 auto;
  line-height: 1.6em;
  border-top:1px dotted $secondary-light;
  border-bottom:1px dotted $secondary-light;

  li, a{display:inline-block;}
  li{
    padding:0 20px;
    display:block;
  }
  a{font-weight:500;}
}
.site-footer{
  margin-top:0;
  text-align:center;
  font-size:0.8em;
  border-top: 1px dotted $secondary-light;
  @extend %lace-bg;
  
  p{padding-top:3rem;}
}
.title-group:after, hr.decorative:after, .site-footer:after {
  content: 'ยง';
  display: block;
  position: absolute;
  left:48%;
  padding:0 10px 5px 10px;
  color: $secondary-light;
  font-size: 22px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}
.title-group:after { bottom: -15px; }
hr.decorative:after, .site-footer:after { top: -15px; }

.hashbrown{color:#666;}
.splash {
  margin-top:-55px;
  padding-top:55px;
  background:url(../img/mobile-bg.jpg) no-repeat center center / auto 100%;
  .special{
      line-height:1em;
      padding-bottom:.15em;
      font-size:72px;
  }
  .title-group{margin-top:0;padding:10rem 0 7rem 0}
  .title-group:after{display:none;}
  .byline{
    font-size:16px;
    padding:2rem;
    background-color:rgba(255,255,255,.3);
    border:1px dotted $secondary-light;
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);

    li, a{display:block;}
    li{padding:0 20px;}
    a{font-weight:500;}
  }
}
.sub-info{
  text-align:center;
  color:$bg-color;
  padding:3.5rem 2rem;
  position:relative;
  @extend %theme-bg;

  h2{margin:0;position:relative;z-index:1}
}
/*.home-info{background:url(../img/patterns2.jpg) repeat;}*/
.invite{
  margin:0 auto;
  padding:2rem 4rem;
  max-width:800px;
  border-left:1px solid #dedede;
  border-right:1px solid #dedede;
  text-align:left;
  position:relative;

  .highlight{
    background-color:$highlight;
    display:inline-block;
  }

  h2{
    text-align:center;
    margin:6rem auto;
    position:relative;
    z-index:0;
    color:$primary-color;

    &:first-child{margin-top:3rem;}
    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      border-bottom: 1px dotted #ddd;
      width: 47%;
      top: 52%;
      transform: translateY(-50%);
      z-index:-1;
    }

    &:before { left: 68%; }
    &:after { right: 68%; }
  }
  p{margin:5rem auto;}
  ul{ 
    display: block;
    padding:3rem 0;
    border-top:1px solid #eee;
  }
}
.feed{
  @extend %theme-bg;
  background-color:#eee;
  border-top:1px solid #e9e9e9;
  &:before{opacity:.85;}
}
.juicer-feed h1.referral{
  position:absolute;
  bottom:-15px;
}
.juicer-feed h1.referral a{
  color:#bbb !important;
  font-size:14px;
}
.juicer-feed.loaded{
  overflow:hidden;
}
.j-stacker-wrapper{
  padding:15px 0;
}
@media only screen and (min-width : 600px) {
  /* SHARED BG IMAGE */
  .navbar, .sub-info:before, .site-footer, .feed:before{
    background-size: 50% auto;
  }
  .splash{
    width:100%;
    height:540px;
    position:relative;
    z-index:0;
    border-bottom: 15px solid rgba(120,120,120,.1);
    background:none;

    &:before, &:after{
      content:' ';
      display: block;
      width:100%;
      height:inherit;
      position:absolute;
      top:0;left:0;
      z-index:-1;
    }

    &:before{background:url(../img/max-bg.jpg) no-repeat bottom right / auto 58%;}
    
    &:after{background:url(../img/bridget-bg.jpg) no-repeat bottom left / auto 57%;}
    
    .title-group{
      padding:4rem 0 2rem 0;
      width:80%;
      position: relative;
      top:3.5rem;
      width:450px;
    }
  }
  .invite{
    padding:2rem 12rem;
    width:92%;

    h2{
      margin:9rem auto;

      &:before, &:after {width: 65%;}
      &:before { left: 66%; }
      &:after { right: 66%; }
    }
  }
}
@media only screen and (min-width : 992px) {
  /* SHARED BG IMAGE */
  .navbar, .sub-info:before, .site-footer, .feed:before{
    background-size: 33% auto;
  }
  .splash{
    min-width:900px;
    height:620px;

    &:before{background-size:auto 68%;}
    &:after{background-size:auto 67%;}
  }
}

