---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200);


/* FONTS USED */
@font-face {
    font-family: 'Fabfelt';
    src: url('../fonts/fabfeltscript-bold.eot');
    src: url('../fonts/fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fabfeltscript-bold.woff2') format('woff2'),
         url('../fonts/fabfeltscript-bold.woff') format('woff'),
         url('../fonts/fabfeltscript-bold.ttf') format('truetype'),
         url('../fonts/fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/ClearSans-Regular-webfont.eot');
    src: url('../fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Regular-webfont.woff') format('woff'),
         url('../fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/ClearSans-Light-webfont.eot');
    src: url('../fonts/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Light-webfont.woff') format('woff'),
         url('../fonts/ClearSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans-Light-webfont.svg#clear_sans_lightregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

$bg-color:#fff;
$primary-color: #964F4C;
$secondary-color: #8981A0;
$highlight: #f7de86;

%displayFont { font-family: 'Fabfelt', 'Palatino Linotype', 'Book Antiqua', Palatino, serif; }
%textFont { font-family: 'Clear Sans', sans-serif; }


body {
    @extend %textFont;
    font-size: 18px;
    line-height: 1.2em;
    padding-top: 55px;
    -webkit-font-smoothing: antialiased;
}
p {
    margin-bottom: 30px;
}
section, header, footer, main, article, nav, aside { position: relative; }
a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $secondary-color;

    &:hover { color: #6165FF; }
}
.btn {
    text-transform: uppercase;
    font-weight: 400;
    @extend %displayFont;
}
h1, h2, h3, h4, h5, h6 { 
    @extend %displayFont;
    line-height:1.25em;
}
::selection {
    background: #086AFF;
    color: #fff;
}
nav.navbar {
    margin: 0;

    a {
        text-transform: uppercase;
        font-size: 16px;
    }

    .navbar-brand {
        text-transform: none;

        i {
            transition: inherit;
            color: $primary-color;
            transform: scale(1);
        }

        &:hover i {
            color: rgb(255, 111, 111);
            transform: scale(1.35);
        }
    }
}
.title-group {
    text-align: center;
    padding: 0 15px;
    margin: 50px 0 100px;

    p {
        max-width: 800px;
        margin: 25px auto 0;
    }
}
h1.special {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
    @extend %displayFont;
    font-size: 69px;
    color: $primary-color;

    span {
        display: inline-block;
        position: relative;
        padding: 0 15px;
        max-width: 1000px;
        z-index: 10;

        /*&:before, &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background: $highlight;
            width: 99999999px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before { left: 100%; }
        &:after { right: 100%; }*/
    }
}

.tile {
    position: relative;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
    margin-bottom: 125px;

    .inner-guts { padding: 50px; }

    h2 {
        margin: 0;
        font-size: 100px;
        font-weight: 400;
        letter-spacing: -0.05em;
        line-height: 100px;
    }

    .featurette {
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 15px;
        width: 100%;
        height: 550px;
        background-color: #e8e8e8;

        .img {
            background-size: cover;
            background-position: 50% 0;
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 225ms ease;
            transform: scale(1);

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                content: '';
                background: #000;
                opacity: 0.4;
                transition: all 225ms ease;
            }
        }

        iframe {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover {
            .img {
                transform: scale(1.2);

                &:before {
                    opacity: 0.2;
                }
            }
        }
    }

    .excerpt {
        font-size: 35px;
        font-weight: 300;
        line-height: 49px;
        color: #484848;

        p {
            margin: 0;
        }
    }

    .tags {
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: 15px;

        span {
            padding: 1px 5px;
            font-size: 12px;
            line-height: 1.5em;
            text-transform: uppercase;
            @extend %displayFont;
        }
    }

    .read-more {
        margin-top: 50px;
        width: 100%;
        max-width: 175px;
        position: relative;
        padding-right: 75px;

        i {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-54%);
            font-size: 31px;
            line-height: 100%;
        }
    }
}

aside {
    font-size: 17px;
    color: #525252;
    margin: 16px 0;
    @extend %displayFont;

    span {
        text-transform: uppercase;
        margin: 0 5px;
    }
}

.site-footer {
    margin-top: 200px;
}

.pagination-wrap {
    text-align: center;
}

.topper {
    height: 500px;
    position: relative;

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}

pre {
    margin: 75px -100px;
}


@media only screen and (max-width : 991px) {
    pre {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width : 480px) {
    .tile .featurette, .topper {
        height: 300px;
    }

    h1.special,
    .tile h2 {
        font-size: 40px;
        line-height: 44px;
    }

    .tile .inner-guts {
        padding: 15px 25px;
    }

    .tile .excerpt {
        font-size: 22px;
        line-height: 35px;
    }
}



/* NKG */
ul{
    list-style:none;
    padding-left:0;
}
p{font-weight:200}
.title-group{ margin:50px auto; }
.byline{
    list-style:none;
    font-size:21px;
    font-weight:200;
}
.byline li{
    padding:0 20px;
    display:inline-block;
}
.byline li:first-child{
    border-right:1px solid #ccc;
}
.site-footer{
    margin-top:0;
    text-align:center;
    font-size:0.8em;
    border-top: 1px dotted $highlight;
    
    p{padding-top:3rem;}
}
.title-group:after, hr.decorative:after, .site-footer:after {
    content: '§';
    display: block;
    position: absolute;
    left:48%;
    padding:0 10px 5px 10px;
    color: $highlight;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}
.title-group:after { bottom: -14px; }
hr.decorative:after, .site-footer:after { top: -13px; }

.hashbrown{color:#666;}
.splash {
    .special{line-height:1.1em;}
    .title-group:after{display:none;}
}
.home-info{
    margin:0 auto;
    padding:4rem;
    width:99%;
    max-width:800px;
    border-left:1px solid $highlight;
    border-right:1px solid $highlight;
    text-align:left;
    position:relative;

    h3{
        text-align:center;
        margin-bottom:4rem;
        position:relative;
        z-index:0;

        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            border-bottom: 1px dotted $highlight;
            width: 48%;
            top: 52%;
            transform: translateY(-50%);
            z-index:-1;
        }

        &:before { left: 75%; }
        &:after { right: 75%; }
    }
    p{margin:5rem auto;}
    ul{margin:2rem auto;}
}
.sub-info{
    text-align:center;
    background-color:$primary-color;
    color:white;
    padding:3.5rem 2rem;

    h3{margin:0;}
}

.feed{background-color:#eee;}
.juicer-feed h1.referral{
    position:absolute;
    bottom:-15px;
}
.juicer-feed h1.referral a{
    color:#bbb !important;
    font-size:14px;
}
.juicer-feed.loaded{
    overflow:hidden;
}
.j-stacker-wrapper{
    padding:15px 0;
}
@media only screen and (min-width : 600px) {
    .splash{
        width:100%;
        height:480px;
        position:relative;
        z-index:0;
        border-bottom: 15px solid rgba(120,120,120,.1);

        &:before, &:after{
            content:' ';
            display: block;
            width:100%;
            height:inherit;
            position:absolute;
            top:0;left:0;
            z-index:-1;
        }

        &:before{background:url(../img/max-bg.jpg) no-repeat bottom right / auto 56%;}
        
        &:after{background:url(../img/bridget-bg.jpg) no-repeat bottom left / auto 55%;}
        
        .title-group{
            padding:0 0 2rem 0;
            width:80%;
            position: relative;
            top:5rem;
        }
    }
    .home-info{
        padding:6rem 10rem;
    }
}
@media only screen and (min-width : 992px) {
    .splash{
        min-width:900px;
        height:550px;

        &:before{background-size:auto 68%;}
        &:after{background-size:auto 67%;}

        .title-group{
            width:40%;
            border-bottom: 1px dotted $highlight;
        }
        .title-group:after{display:block;}
    }
}

