{% include header.html %}

<article>
	<div class="container-fluid">
		<div class="row">
			<div class="splash">
				{% include title-group.html %}
			</div>
		</div>
	    {{ content }}
	</div>
</article>

{% include footer.html %}
<script>
//HOME JS
var SetSplashHeight = {
  init : function(winHeight){
  	var splash = $('.splash');
	var subInfo = $('.sub-info').outerHeight(true);
	var nav = $('.navbar').innerHeight();
	if(winHeight > 650){
		splash.height(winHeight - subInfo - nav);
	}
  }
};

$(document).ready(function(){
	var winHeight = $(window).height();
	SetSplashHeight.init(winHeight);
});

$(window).resize( function(){
	var winHeight = $(this).height();
 	SetSplashHeight.init(winHeight);
});

</script>
</body>
</html>