{% include header.html %}

<article>
	<div class="container-fluid">
		<div class="row">
			<div class="splash">
				{% include title-group.html %}
			</div>
		</div>
	    {{ content }}
	</div>
</article>

{% include footer.html %}
<script>
//HOME JS
var SetSplash = {
  init : function(winHeight,scrollPos){
  	var splash = $('.splash');
  	var nav = $('.navbar');
	var subInfoH = $('.sub-info').outerHeight(true);

	if ( scrollPos < 400) { nav.fadeOut(); }
	splash.on('click',function() {
	  nav.fadeIn();
	});
	if(winHeight > 680){
		splash.height(winHeight - subInfoH - nav.innerHeight() );
	}
  }, 
  scrollSet : function(scrollPos){
  	var nav = $('.navbar');

  	if (scrollPos < 400) {
		nav.fadeOut();
		} else {
		nav.fadeIn();
	}
  }
};

$(document).ready(function(){
	var scrollPos = $(this).scrollTop();
	var winHeight = $(window).height();
	SetSplash.init(winHeight,scrollPos);
});

$(window).resize( function(){
	var scrollPos = $(this).scrollTop();
	var winHeight = $(this).height();
 	SetSplash.init(winHeight,scrollPos);
});
$(window).scroll( function(){
	var scrollPos = $(this).scrollTop();
 	SetSplash.scrollSet(scrollPos);
});

</script>
</body>
</html>